<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electric-Meter</title>
        <link rel="stylesheet" href="/assets/styles.css"/>
        <script src="/assets/app.js" async></script>
    </head>
    <body>
        <h1>Electric-Meter</h1>
        <p>Counter: <span id="counter"></span></p>
        <br/>
        <button id="toggleBtn">Toggle LED</button>
        <button id="resetBtn">Reset Config</button>
    </body>
</html>